body h1 {
    /* font-size: 40px; */
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    letter-spacing: 16px;
    padding: 14px;
    color: hsl(350, 87%, 68%);
}
h2{
 font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 text-align: left;
 color: hsl(350, 87%, 68%);
 letter-spacing: 5px;
} 

p{
    color: #3939f7c1;
}
.img-logo {
    
    height: 200px;
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: 0 auto;

}

.img-hotel {
    
    height: 200px;
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: 0 auto;

}

.img-left {
    float: left; /* Hace que la imagen flote a la izquierda del texto */
    margin-right: 20px; /* Espacio entre la imagen y el texto */
  }
  
  .img-right {
    float: right; /* Hace que la imagen flote a la derecha del texto */
    margin-left: 20px; 
    margin-bottom: 20px;
  }

  .img-disney {
    width: 100%;
  }