body{
    font-family: verdana, Arial, sans-serif;
    background-color: #ffa26849;
    color: #79440ada;
}

img {
    width: 100%;
    height: auto;
}

header {
    color: orange;
    font-size: 20px;
    padding: 0%;
}

#header-ul {
    list-style: none;
    align-items:flex-start;
    padding: 0%;
}
#header-ul li {
    display: inline;
    align-items:flex-start;
}

#header-ul li:not(:last-child)::after {
    content: " - ";
}

.link:link {
    color: orange;
    text-decoration: underline; /* Quita la subrayado predeterminado de los enlaces */
    font-weight: bold;
  }

#link-red {
    
}

link:visited {
    color: #3ea7fdf5;
  }

ul p{
    padding: 0%;
}

h2 {
    background-color: rgb(182, 121, 64);
    color: white;
}

.text-h2{
    color: #ffe734f5;
}